[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "==0.63.0"
uvicorn = "==0.13.2"
postgres = "==3.0.0"

[requires]
python_version = "3.8"
